<article class="post post-content">
    <p>{{content}}</p>
    <div class="info">
        <p><span>submitted {{commnt.date}} ago by {{author}}</span>
            {{#if isAuthor}}
                <span>| <a href="#/comment/delete/{{_id}}" class="deleteLink">delete</a></span>
            {{/if}}
        </p>
    </div>
</article>