<div class="post post-content">
    <form id="commentForm" action="#/create/comment" method="post">
        <input type="hidden" name="postId" value="{{post._id}}">
        <label>Comment</label>
        <textarea name="content" type="text"></textarea>
        <input type="submit" value="Add Comment" id="btnPostComment">
    </form>
</div>