<nav>
    <div id="navigation">
        <a href="#/index.html" class="nav-btn">
            <span>Home</span>
        </a>

        {{#if isAuth}}
            <a href="#/contacts" class="nav-btn">
                <span>Contacts</span>
            </a>
            <a href="#/logout" class="nav-btn">
                <span>Logout</span>
            </a>
        {{else}}
            <a href="#/login" class="nav-btn">
                <span>Login</span>
            </a>
            <a href="#/register" class="nav-btn">
                <span>Register</span>
            </a>
        {{/if}}
    </div>
</nav>