<article class="post post-content">
    <p>{{content}}</p>
    <div class="info">
        submitted {{date}} ago by {{author}}
        {{#if isAuth}}
            | <a href="#/delete/comment/{{_id}}" class="deleteLink">delete</a>
        {{/if}}
    </div>
</article>