{{>header}}
<div class="content">
    {{>navigation}}
    <section id="viewEdit">
        <div class="submitArea">
            <h1>Edit Link</h1>
            <p>Please, fill out the form. A thumbnail image/description is not required.</p>
        </div>
        <div class="submitArea formContainer">
            {{>editPostForm}}
        </div>
    </section>
</div>
{{>footer}}