<h1>Contacts</h1>
<div class="content">
    {{#each contacts}}
        <div class="contact" data-id="id">
            <span class="avatar small">&#9787;</span>
            <span class="title">{{name}}</span>
        </div>
    {{/each}}
</div>